*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'pretendard variable', sans-serif;
  margin: 0;
  padding: 0;
}

#prev,
#next {
  color: oklch(0.94 0 0);
  display: grid;
  place-items: center;
  font-size: 2rem;
  line-height: 2rem;
  text-box: trim-both cap alphabetic;
  background-color: oklch(0.22 0 0);
  width: 3rem;
  height: 3rem;
  position: fixed;
  cursor: pointer;
  user-select: none;
}

#prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#iframe {
  display: block;
  width: 100%;
  height: 100dvh;
  border: none;
}
